$laptop: 1440.98px;
$tablet: 1023.98px;
$mobile: 767.98px;
$mobile-s: 480.98px;

@mixin laptop {

  @media (max-width: $laptop) {
    @content;
  }
}

@mixin tablet {

  @media (max-width: $tablet) {
    @content;
  }
}

@mixin mobile {

  @media (max-width: $mobile) {
    @content;
  }
}

@mixin mobile-s {

  @media (max-width: $mobile-s) {
    @content;
  }
}
