{
  "semi": false,
  "singleQuote": true,
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 120,
  "trailingComma": "none",
  "bracketSameLine": true,
  "jsxBracketSameLine": true
}
