{
  "semi": false,
  "singleQuote": true,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 120,
  "trailingComma": "none",
  "bracketSameLine": true,
  "jsxBracketSameLine": true,
  "insertFinalNewline": true
}
