@use 'helpers' as *;

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {

  @include visually-hidden;
}

// @supports (scrollbar-color: var(--color-accent) var(--color-dark)) {
//   .custom-scrollbar {
//     scrollbar-color: var(--color-accent) var(--color-dark);
//     scrollbar-width: auto;
//   }
// }

// https://github.com/stefanjudis/css-scroll-shadows
.scrollbox-shadow {
  --gradient: radial-gradient(100% 6px at 50% 50%, #0002, #0000);

  background:
    linear-gradient(
        #fff 10px,
        #0000 40px calc(100% - 40px),
        #fff calc(100% - 10px)
      )
      local,
    var(--gradient) top / 100% 200%,
    var(--gradient) bottom/ 100% 200%;
}

.skiplink {
  --skiplink-offset: 1.25rem;
  --skiplink-bg-color: var(--color-green);
  --skiplink-overlay-color: hsl(0, 0%, 0%);
  --skiplink-flashing-color: hsl(0, 0%, 100%);
  --skiplink-overlay-color-mix-a60: color-mix(
    in srgb,
    var(--skiplink-overlay-color),
    transparent 40%
  );
  --skiplink-flashing-color-mix-a50: color-mix(
    in srgb,
    var(--skiplink-flashing-color),
    transparent 50%
  );
  --skiplink-z-index: 900;

  position: fixed;
  inset: 0;
  opacity: 0;
  font-family: var(--font-family-base);
  font-size: var(--skiplink-offset);
  font-weight: 400;
  background-color: var(--skiplink-overlay-color-mix-a60);
  color: var(--color-dark);
  z-index: var(--skiplink-z-index);
  pointer-events: none;
  transition:
    opacity var(--transition-duration) ease,
    background-color var(--transition-duration) ease;

  &__text {
    position: relative;
    top: calc(var(--skiplink-offset) * 2);
    left: var(--skiplink-offset);
    padding: var(--skiplink-offset);
    border-radius: var(--skiplink-offset);
    background-color: var(--skiplink-bg-color);
    color: var(--color-light);
    height: calc(var(--skiplink-offset) * 4);
    border: 2px solid var(--color-light);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    animation: pulse-btn-bg 1.5s cubic-bezier(0.8, 0, 0, 1) 0s infinite normal
      none running;
    transition: box-shadow var(--transition-duration);

    &::before {
      content: url(/img/skiplink-enter-icon.svg);
      margin-left: var(--skiplink-offset);
      order: 2;
      width: var(--skiplink-offset);
      height: var(--skiplink-offset);
    }

    &::after {
      content: attr(data-title);
      order: 3;
      padding-top: 2px;
      margin-left: 2px;
    }

    @keyframes pulse-btn-bg {

      100% {
        box-shadow: 0 0 0 20px rgba(193, 244, 246, 0);
      }
    }
  }

  &:focus {
    opacity: 1;

    & .skiplink__text {
      box-shadow: var(--skiplink-flashing-color-mix-a50) 0 0 0 0;
    }
  }
}

.overlay {

  @include tablet {
    opacity: 0;
    visibility: hidden;
    transition:
      opacity var(--transition-duration) ease,
      visibility var(--transition-duration) ease;
    z-index: 1;

    &--active {
      position: fixed;
      inset: 0;
      width: 100%;
      height: 100%;
      background-color: var(--overlay-shadow);
      opacity: 1;
      visibility: visible;
    }
  }
}

.text-stroke {
  color: transparent;
  -webkit-text-stroke: 1px var(--color-dark);
  text-stroke: 1px var(--color-dark);
}

.text-line-clamp {
  --font-size: 14px;
  --line-height-multiplier: 1.29;
  --lines: 3;

  font-size: var(--font-size);
  line-height: var(--line-height-multiplier);
  display: -webkit-box;
  -webkit-line-clamp: var(--lines);
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: calc(1em * var(--line-height-multiplier) * var(--lines));
}

.text-bg-gradient {
  background: linear-gradient(90deg, rgb(158, 63, 58) 36%, rgb(52, 17, 142));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
