@use '../../helpers' as *;

.accordion {
  border: 1px solid black;
  padding: 20px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &__content {
    display: grid;
    grid-template-rows: 0fr;
    transition:
      grid-template-rows 0.3s ease-in-out,
      padding 0.3s ease-in-out;
  }

  &__details {
    &[open] + .accordion__content {
      grid-template-rows: 1fr;
      padding-top: 10px;
    }
  }

  &__summary {
    display: block;
  }

  &__title {
    font-size: 24px;
    line-height: 1.2;
  }

  &__inner {
    overflow: hidden;
  }

  &__text {
    font-size: 16px;
  }
}
