<!--We add the name attribute so that opening one accordion closes the previously opened one. -->
<div class="accordion">
  <details class="accordion__details" name="accordion">
    <summary class="accordion__summary">
      <span class="accordion__title" role="term" aria-details="faq-1">
        Questions 1
      </span>
    </summary>
  </details>
  <div class="accordion__content" id="faq-1" role="definition">
    <div class="accordion__inner">
      <p class="accordion__text">
        Answer 1 Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
    </div>
  </div>
</div>
<div class="accordion">
  <details class="accordion__details" name="accordion">
    <summary class="accordion__summary">
      <span class="accordion__title" role="term" aria-details="faq-2">
        Questions 2
      </span>
    </summary>
  </details>
  <div class="accordion__content" id="faq-2" role="definition">
    <div class="accordion__inner">
      <p class="accordion__text">
        Answer 2 Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
    </div>
  </div>
</div>
<div class="accordion">
  <details class="accordion__details" name="accordion">
    <summary class="accordion__summary">
      <span class="accordion__title" role="term" aria-details="faq-3">
        Questions 3
      </span>
    </summary>
  </details>
  <div class="accordion__content" id="faq-3" role="definition">
    <div class="accordion__inner">
      <p class="accordion__text">
        Answer 3 Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
    </div>
  </div>
</div>
