<!-- Simple dialog -->
<!-- <button type="button" onclick="overlayMenu.showModal()">
  Open modal window
</button>

<dialog id="overlayMenu">
  <p>text modal window</p>
  <button type="button" onclick="overlayMenu.close()">Close window</button>
</dialog> -->

<!-- dialog -->
<section class="about">
  <h2 class="about__title">About section</h2>

  <button
    class="about__btn js-open-dialog"
    type="button"
    aria-label="Open about modal window"
    title="Open about modal window">
    Check our team
  </button>

  <dialog
    class="about__dialog dialog js-dialog"
    aria-labelledby="dialog-title-about"
    aria-describedby="dialog-description-about">
    <div class="dialog__backdrop"></div>
    <h3 class="visually-hidden" id="dialog-title-about">A11y title about</h3>

    <div class="dialog__content" id="dialog-description-about">
      <h4 class="dialog__title">About Title</h4>
      <p class="dialog__text">
        text modal window about text modal window about text modal window about
        text modal window about
      </p>
      <button
        class="dialog__close-btn js-close-dialog"
        type="button"
        title="Close modal window">
        X
      </button>
    </div>
  </dialog>
</section>

<section class="contacts">
  <h2 class="contacts__title">Contacts section</h2>

  <button
    class="contacts__btn js-open-dialog"
    type="button"
    aria-label="Open contacts modal window"
    title="Open contacts modal window">
    Contacts info
  </button>

  <dialog
    class="about__dialog dialog js-dialog"
    aria-labelledby="dialog-title-contacts"
    aria-describedby="dialog-description-contacts">
    <h3 class="visually-hidden" id="dialog-title-contacts">
      A11y title contacts
    </h3>

    <div class="dialog__content" id="dialog-description-contacts">
      <h4 class="dialog__title">Contacts Title</h4>
      <p class="dialog__text">
        text modal window contacts text modal window contacts text modal window
        contacts text modal window contacts
      </p>
      <button
        class="dialog__close-btn js-close-dialog"
        type="button"
        title="Close modal window">
        X
      </button>
    </div>
  </dialog>
</section>
