<ul class="ui-kit-content">
  <li class="ui-kit-content__item">
    <div class="accordion">
      Hover me
      <div class="accordion__inner">
        <div class="accordion__content">
          <div class="accordion__padding-top">
            <!-- if needed padding -->
            <p class="accordion__text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
            <button class="accordion__button">Click me</button>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>
