:root {
  --offset-huge: 50px;
  --offset-medium-huge: 45px;
  --offset-large: 40px;
  --offset-medium-large: 35px;
  --offset-medium: 30px;
  --offset-medium-small: 25px;
  --offset-small: 20px;
  --offset-tiny: 15px;
}
