.page {
  height: 100%;
  font-family: var(--font-family-base);
  background-color: var(--color-light);
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeSpeed;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;

  &:has(dialog[open]) {
    overflow: hidden;
  }
}

.site-container {
  @include footerToBottom;
}

.scroll-lock {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  --content-max-width: 1200px;
  --padding-inline: 15px;

  margin-inline: auto;
  width: min(var(--content-max-width), 100% - (var(--padding-inline) * 2));
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.skiplink {
  --skiplink-offset: 20px;

  position: absolute;
  top: -200px;
  left: var(--skiplink-offset);
  transition: top var(--timing) ease;
  color: var(--color-black);

  &:focus {
    top: var(--skiplink-offset);
    outline: 2px solid currentColor;
    outline-offset: 4px;
  }
}

.overlay {
  @include tablet {
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--timing) ease, visibility var(--timing) ease;
    z-index: 1;

    &--active {
      position: fixed;
      inset: 0;
      width: 100%;
      height: 100%;
      background-color: var(--overlay-shadow);
      opacity: 1;
      visibility: visible;
    }
  }
}

.text-stroke {
  color: transparent;
  -webkit-text-stroke: 1px var(--color-dark);
  text-stroke: 1px var(--color-dark);
}

.text-bg-gradient {
  background: linear-gradient(90deg, rgb(158, 63, 58) 36%, rgb(52, 17, 142));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (prefers-reduced-motion) {
  * {
    &,
    &::after,
    &::before {
      animation: none !important;
      transition: 0.01s !important;
      scroll-behavior: auto !important;
    }
  }
}

@media (prefers-contrast: more) {
  .backdrop-title {
    &::after {
      -webkit-text-stroke: 10px var(--color-dark);
      text-stroke: 10px var(--color-dark);
    }
  }
}
